<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<!-- 配置数据库连接信息 -->
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				
				<!-- 在自动打包部署时，由于需要动态的改变数据库连接地址，方便在jenkins参数配置中，这里将ip与端口参数化ip:port/db -->
				<property name="url" value="jdbc:mysql://ip:port/db?useUnicode=true&amp;characterEncoding=utf-8" />
				<property name="username" value="dbUsername" />
				<property name="password" value="dbPassword" /> 
				
				<!--<property name="url" value="jdbc:mysql://localhost:3306/demodb?useUnicode=true&amp;characterEncoding=utf-8" />
				<property name="username" value="root" />
				<property name="password" value="admin" />-->
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<!-- 注册userMapper.xml文件-->
		<mapper resource="com/xui/bean/mapper/musicAlbumMapper.xml" />
		<mapper resource="com/xui/bean/mapper/musicMapper.xml" />
	</mappers>

</configuration>